<!-- noi dung chinh -->
<div class="main-content">
  <div class="background-blur">
    <div class="next-match table grid wide">
        <header class="next-match__header table-header text-left">
            <p class="next-match__header-text">Trận đấu tiếp theo</p>
        </header>
        <main class="next-match__main">
            <div class="match__match">
                <div class="match__team">
                    <div class="match__team-logo">
                        <img src="{{schedule1.team1.logo}}" alt="logo team" class="match__team-logo-img">
                    </div>

                    <p class="match__team-name">{{schedule1.team1.name}}</p>
                </div>
                <p class="match__with">VS</p>
                <div class="match__team">
                    <div class="match__team-logo">

                        <img src="{{schedule1.team2.logo}}" alt="logo team" class="match__team-logo-img">
                    </div>
                    <p class="match__team-name">{{schedule1.team2.name}}</p>
                </div>
            </div>
            <div class="match__Tournaments">
                <p class="match__Tournaments-name">V-League</p>
                <p class="match__Tournaments-time">{{schedule1.schedule.date}}</p>
                <p class="match__Tournaments-time">{{schedule1.schedule.time}}</p>
            </div>
        </main>
    </div>
    <div class="remain-match grid wide">
        <header class="remain-match__header row no-gutters">
            <div class="remain__match__header-seperate"></div>
            <p class="remain-match__header-title">Trận đấu sắp tới</p>
        </header>
        <main class="remain-match__main">
            <div class="row ">
                <div class=" col col-mobile-6 ">
                    <div class="remain-match__match">
                        <div class="match__match">
                            <div class="match__team">
                                <div class="match__team-logo">
                                    <img src="{{schedule2.team1.logo}}" alt="logo team"
                                        class="match__team-logo-img">
                                </div>

                            </div>
                            <p class="match__with">VS</p>
                            <div class="match__team">
                                <div class="match__team-logo">

                                    <img src="{{schedule2.team2.logo}}" alt="logo team"
                                        class="match__team-logo-img">
                                </div>
                            </div>
                        </div>
                        <div class="match__Tournaments">
                            <p class="match__Tournaments-time">{{schedule2.schedule.date}}</p>
                            <p class="match__Tournaments-time"> {{schedule2.schedule.time}} </p>
                        </div>
                    </div>

                </div>
                <div class=" col col-mobile-6 ">
                    <div class="remain-match__match">
                        <div class="match__match">
                            <div class="match__team">
                                <div class="match__team-logo">
                                    <img src="{{schedule3.team1.logo}}" alt="logo team"
                                        class="match__team-logo-img">
                                </div>

                            </div>
                            <p class="match__with">VS</p>
                            <div class="match__team">
                                <div class="match__team-logo">

                                    <img src="{{schedule4.team1.logo}}" alt="logo team"
                                        class="match__team-logo-img">
                                </div>
                            </div>
                        </div>
                        <div class="match__Tournaments">
                            <p class="match__Tournaments-time">{{schedule3.schedule.date}}</p>
                            <p class="match__Tournaments-time"> {{schedule3.schedule.time}} </p>
                        </div>
                    </div>
                </div>
            
                <div class=" col col-mobile-6 ">
                    <div class="remain-match__match">
                        <div class="match__match">
                            <div class="match__team">
                                <div class="match__team-logo">
                                    <img src="{{schedule4.team1.logo}}" alt="logo team"
                                        class="match__team-logo-img">
                                </div>
                            </div>
                            <p class="match__with">VS</p>
                            <div class="match__team">
                                <div class="match__team-logo">

                                    <img src="{{schedule4.team2.logo}}" alt="logo team"
                                        class="match__team-logo-img">
                                </div>
                            </div>
                        </div>
                        <div class="match__Tournaments">
                            <p class="match__Tournaments-time">{{schedule4.schedule.date}}</p>
                            <p class="match__Tournaments-time"> {{schedule4.schedule.time}} </p>
                        </div>
                    </div>

                </div>
                <div class=" col col-mobile-6 ">
                    <div class="remain-match__match">
                        <div class="match__match">
                            <div class="match__team">
                                <div class="match__team-logo">
                                    <img src="{{schedule5.team1.logo}}" alt="logo team"
                                        class="match__team-logo-img">
                                </div>

                            </div>
                            <p class="match__with">VS</p>
                            <div class="match__team">
                                <div class="match__team-logo">

                                    <img src="{{schedule5.team2.logo}}" alt="logo team"
                                        class="match__team-logo-img">
                                </div>
                            </div>
                        </div>
                        <div class="match__Tournaments">
                            <p class="match__Tournaments-time">{{schedule5.schedule.date}}</p>
                            <p class="match__Tournaments-time"> {{schedule5.schedule.time}} </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </main>
    </div>
</div>
</div>